@model DancingGoat.Models.CartViewModel

<script type="text/javascript">
    var getResult = function (data) {
        if (data.couponCodeInvalidMessage) {
            $("#coupon-message-error").text(data.couponCodeInvalidMessage);
        } else {
            window.location.href = window.location.href;
        }
    };
</script>

<div class="cart-coupon-input">
    <label>@HtmlLocalizer["Discount coupon"]</label>
    <form asp-action="AddCouponCode" asp-controller="Coupon" data-ajax="true" data-ajax-method="POST" data-ajax-success="getResult">
        <div>
            <input type="text" name="NewCouponCode" value="" class="form-control" />
            <input type="submit" name="NewCouponCodeButton" value="@HtmlLocalizer["Apply"]" class="btn btn-primary" />
        </div>
        <div class="message message-error" id="coupon-message-error">
        </div>
    </form>
    @foreach (var couponCode in Model.AppliedCouponCodes)
    {
        <div class="cart-coupon-code">
            <form asp-action="RemoveCouponCode" asp-controller="Coupon" data-ajax="true" data-ajax-method="POST" data-ajax-success="getResult">
                <input type="hidden" name="RemoveCouponCode" value="@couponCode" />
                <div class="label">
                    <span>@couponCode</span>
                </div>
                <div class="button">
                    <input type="submit" name="RemoveCouponCodeButton" value="@HtmlLocalizer["remove"]" class="btn btn-default" />
                </div>
            </form>
        </div>
    }
</div>
