@using DancingGoat.PageTemplates

@model ComponentViewModel<ArticleWithSideBarProperties>

@inject ArticleWithSidebarPageTemplateService Service

@{
    var templateProperties = Model.Properties;
    var templateModel = Service.GetTemplateModel(templateProperties);

    var sidebarLocation = (ArticleSidebarLocationEnum)Enum.Parse(typeof(ArticleSidebarLocationEnum), templateProperties.SidebarLocation, true);
    var articleWidth = templateProperties.ArticleWidth;

    // The page's content takes 12 points of width which are divided between the sidebar and the article
    var sidebardBootstrapWidth = 12 - int.Parse(templateProperties.ArticleWidth);
}

<div class="article-detail-page">
    @if (templateModel.RelatedArticles.Any() && templateModel.SidebarLocation.Equals(ArticleSidebarLocationEnum.Left))
    {
        <div class="article-related-articles-sidebar col-lg-@sidebardBootstrapWidth col-md-6 col-sm-12" data-sidebar-location="@sidebarLocation">
            <partial name="~/PageTemplates/ArticleWithSidebar/_RelatedArticles.cshtml" model="templateModel.RelatedArticles" />
        </div>
    }
    @if (templateModel.RecommendedArticles.Any() && templateModel.SidebarLocation.Equals(ArticleSidebarLocationEnum.Left))
    {
        <div class="article-related-articles-sidebar col-lg-@sidebardBootstrapWidth col-md-6 col-sm-12" data-sidebar-location="@sidebarLocation">
            <partial name="~/PageTemplates/ArticleWithSidebar/_RecommendedArticles.cshtml" model="templateModel.RecommendedArticles" />
        </div>
    }
    <article class="article-detail col-lg-@articleWidth col-md-12 article-detail-related-box">
        <h2>@templateModel.Title</h2>
        <div class="article-detail-datetime">
            @templateModel.PublicationDate.ToString("D")
        </div>
        @if (!string.IsNullOrEmpty(templateModel.TeaserPath))
        {
            <div class="row">
                <div class="article-detail-image col-md-push-2 col-md-8">
                    <img src="@templateModel.TeaserPath" alt="@templateModel.Title" title="@templateModel.Title" class="img-responsive" />
                </div>
            </div>
        }
        <div class="row">
            <div class="article-detail-content">
                @Html.Kentico().ResolveUrls(templateModel.Text)
            </div>
        </div>
    </article>
    @if (templateModel.RelatedArticles.Any() && sidebarLocation.Equals(ArticleSidebarLocationEnum.Right))
    {
        <div class="article-related-articles-sidebar col-lg-@sidebardBootstrapWidth col-md-6 col-sm-12" data-sidebar-location="@sidebarLocation">
            <partial name="~/PageTemplates/ArticleWithSidebar/_RelatedArticles.cshtml" model="templateModel.RelatedArticles" />
        </div>
    }
    @if (templateModel.RecommendedArticles.Any() && templateModel.SidebarLocation.Equals(ArticleSidebarLocationEnum.Right))
    {
        <div class="article-related-articles-sidebar col-lg-@sidebardBootstrapWidth col-md-6 col-sm-12" data-sidebar-location="@sidebarLocation">
            <partial name="~/PageTemplates/ArticleWithSidebar/_RecommendedArticles.cshtml" model="templateModel.RecommendedArticles" />
        </div>
    }
    <div class="clear"></div>
</div>