@using DancingGoat.Helpers
@using DancingGoat.Widgets

@using Kentico.PageBuilder.Web.Mvc

@{
    ViewData["Title"] = HtmlLocalizer["Home"];
}

<editable-area area-identifier="area1"
               area-options-allowed-widgets="AreaRestrictionHelper.GetHomePageRestrictions()" />

@foreach (var homeSection in Model.HomeSections)
{
    <div class="row ourstory-section">
        <div class="title-wrapper">
            <h1 class="title-tab">@homeSection.Heading</h1>
        </div>
        <div class="col-sm-12">
            <div class="center-text section-text">
                @Html.Raw(homeSection.Text)
            </div>
        </div>

        @{
            var url = homeSection.MoreButtonUrl;
            var text = homeSection.MoreButtonText;

            if (!string.IsNullOrEmpty(url) && (!string.IsNullOrEmpty(text)))
            {
                <div class="row">
                    <div class="clear center-text">
                        <a href="@url" class="btn btn-more">
                            @text
                        </a>
                    </div>
                </div>
            }
        }
    </div>
}

@if (Model.Reference != null)
{
    <partial name="_Reference" model="Model.Reference" />
}

<div class="home-bottom-bg">
    <div class="about-section">
        <editable-area area-identifier="area2"
                       area-options-default-section-identifier="@ComponentIdentifiers.TWO_COLUMN_SECTION"
                       area-options-allowed-sections="AllowedComponents.NONE"
                       area-options-allowed-widgets="new[] { SystemComponentIdentifiers.RICH_TEXT_WIDGET_IDENTIFIER }" />
    </div>

    <div class="row cafe-cards">
        <div class="title-wrapper">
            <h1 class="title-tab">@HtmlLocalizer["Taste our coffee"]</h1>
        </div>

        <editable-area area-identifier="area3"
                       area-options-default-section-identifier="@ComponentIdentifiers.THREE_COLUMN_SECTION"
                       area-options-allowed-sections="new [] { ComponentIdentifiers.SINGLE_COLUMN_SECTION, ComponentIdentifiers.THREE_COLUMN_SECTION }"
                       area-options-allowed-widgets="new[] { CafeCardWidgetViewComponent.IDENTIFIER, ComponentIdentifiers.CTA_BUTTON_WIDGET }" />
    </div>
</div>
