@model DancingGoat.Models.ProductViewModel
@using CMS.Ecommerce

@{
    var price = Model.PriceDetail;
    var currency = price.Currency;
    var discount = price.StandardPrice - price.Price;
}

<div class="price-details">
    @if (price.ListPrice > 0)
    {
        <div class="row">
            <div class="col-xs-6">List price</div>
            <div class="col-xs-6">@string.Format(currency.CurrencyFormatString, price.ListPrice)</div>
        </div>
    }

    <div class="discount-price @((discount > 0) ? "" : "hidden")">
        <div class="row">
            <div class="col-xs-6">@HtmlLocalizer["Price"]</div>
            <div id="js-before-discount" class="col-xs-6">@string.Format(currency.CurrencyFormatString, price.StandardPrice)</div>
        </div>
        @if (price.Price > 0)
        {
            var discountPercentage = Math.Round(discount * 100 / price.StandardPrice);

            <div class="row">
                <div class="col-xs-6">@HtmlLocalizer["You save"]</div>
                <div id="js-savings" class="col-xs-6">@string.Format(currency.CurrencyFormatString, discount) (@(discountPercentage)%)</div>
            </div>
        }
    </div>
</div>