@using DancingGoat.Helpers

@model DancingGoat.Models.BillingAddressViewModel

<h4>@HtmlLocalizer["Billing address"]</h4>


<div data-addresstype='BillingAddress' data-fields='["Line1", "Line2", "City", "PostalCode"]'>
    @Html.EditorFor(m => m.BillingAddressSelector)
    @Html.ValidatedEditorFor(m => m.BillingAddressLine1, HtmlLocalizer["e.g. street address, P.O.box, c/o"])
    @Html.ValidatedEditorFor(m => m.BillingAddressLine2, HtmlLocalizer["e.g. apartment, suite, unit, building"])
    @Html.ValidatedEditorFor(m => m.BillingAddressCity)
    @Html.ValidatedEditorFor(m => m.BillingAddressPostalCode)

    @Html.EditorFor(m => m.BillingAddressCountryStateSelector)
</div>
