@model DancingGoat.Widgets.CafeCardViewModel

<div>
    @if (String.IsNullOrEmpty(Model.Name) && string.IsNullOrEmpty(Model.PhotoPath))
    {
        <h2>@HtmlLocalizer["No cafe selected"]</h2>
    }
    else
    {
        <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.CAFES)" class="ourcoffee-tile-link">
            <h2 class="ourcoffee-tile-text center-text">@Model.Name</h2>
            <span class="cafe-overlay"> </span>
            @if (!string.IsNullOrEmpty(Model.PhotoPath))
            {
                <img src="@Model.PhotoPath" alt="@Model.Name" title="@Model.Name" class="ourcoffee-tile-image" />
            }
        </a>
    }
</div>